<template>
    <div>
        <a class="btn btn-primary pull-right"  data-toggle="modal" href="#createProgramme">Create Programme</a>
        <div class="modal fade" id="createProgramme">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Programme</h4>
                    </div>
                    <div class="modal-body">
                        <programmereg></programmereg>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Grade Type</th>
                    <th>Certificate Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="course in allcourses">
                    <td>{{ course.code.toUpperCase()}}</td>
                    <td>{{ course.coursename.toUpperCase()}}</td>
                    <td>{{ course.department.toUpperCase()}}</td>
                    <td>{{ course.gradetype.toUpperCase()}}</td>
                    <td>{{ course.cert.toUpperCase()}}</td>
                    <td>
                        <i class="fa fa-trash text-danger" @click.prevent="deleteProgramme(course.id)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "all",
        props: {
            courses: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                allcourses: this.courses
            }
        },
        methods: {
            deleteProgramme(programme) {
                axios.delete('programme/'+programme).then(resp=>{
                    this.allcourses.splice(programme,1);
                }).catch(err=>{
                });
            }
        },
        mounted() {
            Bus.$on('programme',data=>{
                this.allcourses.unshift(data);
                console.log(data)
            })

        }
    }
</script>

<style scoped>

</style>