<template>
    <form action="">
        <div class="col-md-6">
            <!--Label: Code, Attributes: code-->
            <div class="form-group ">
                <label for="code" class=" col-form-label">Code</label>
                <div class="" :class="{ 'has-danger' : errors.code }">
                    <input type="text" class="form-control" id="code"
                           v-model="code"
                           name="code"
                           :class="{ 'has-danger' : errors.code }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.code">
                        <strong>{{ errors.code.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Course Name, Attributes: coursename-->
            <div class="form-group ">
                <label for="coursename" class=" col-form-label">Course Name</label>
                <div class="" :class="{ 'has-danger' : errors.coursename }">
                    <input type="text" class="form-control" id="coursename"
                           v-model="coursename"
                           name="coursename"
                           :class="{ 'has-danger' : errors.coursename }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.coursename">
                        <strong>{{ errors.coursename.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Department, Attributes: department-->
            <div class="form-group ">
                <label for="department" class=" col-form-label">Department</label>
                <div class="" :class="{ 'has-danger' : errors.department }">
                    <input type="text" class="form-control" id="department"
                           v-model="department"
                           name="department"
                           :class="{ 'has-danger' : errors.department }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.department">
                        <strong>{{ errors.department.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Grade Type, Attributes: gradetype-->
            <div class="form-group ">
                <label for="gradetype" class=" col-form-label">Grade Type</label>
                <div class="" :class="{ 'has-danger' : errors.gradetype }">
                    <select class="form-control" name="gradetype" id="gradetype"
                            v-model="gradetype"
                            :class="{ 'has-danger' : errors.gradetype }">
                        <option value="Diploma">Diploma</option>
                        <option value="Certificate">Certificate</option>
                        <option value="Artisan">Artisan</option>
                        <option value="Undergraduate">Undergraduate</option>
                        <option value="PostGraduate">Post Graduate</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.gradetype">
                        <strong>{{ errors.gradetype.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Cert Type, Attributes: cert-->
            <div class="form-group ">
                <label for="cert" class=" col-form-label">Cert Type</label>
                <div class="" :class="{ 'has-danger' : errors.cert }">
                    <select class="form-control" name="cert" id="cert"
                            v-model="cert"
                            :class="{ 'has-danger' : errors.cert }">
                        <option value="diploma">Diploma</option>
                        <option value="certificate">Certificate</option>
                        <option value="masters">Master's Degree</option>
                        <option value="bachelor">Bachelor's Degree</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.cert">
                        <strong>{{ errors.cert.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Period, Attributes: period-->
            <div class="form-group ">
                <label for="period" class=" col-form-label">Period/Year</label>
                <div class="" :class="{ 'has-danger' : errors.period }">
                    <input type="text" class="form-control" id="period"
                           v-model="period"
                           name="period"
                           :class="{ 'has-danger' : errors.period }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.period">
                        <strong>{{ errors.period.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Start Year, Attributes: year-->
            <div class="form-group ">
                <label for="year" class=" col-form-label">Start Year</label>
                <div class="" :class="{ 'has-danger' : errors.year }">
                    <input type="text" class="form-control" id="year"
                           v-model="year"
                           name="year"
                           :class="{ 'has-danger' : errors.year }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.year">
                        <strong>{{ errors.year.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <!--Label: Closed, Attributes: closed-->
            <div class="form-group ">
                <label for="closed" class=" col-form-label">Closed</label>
                <div class="" :class="{ 'has-danger' : errors.closed }">
                    <select class="form-control" name="closed" id="closed"
                            v-model="closed"
                            :class="{ 'has-danger' : errors.closed }">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.closed">
                        <strong>{{ errors.closed.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--Label: Maximum Units, Attributes: maxunits-->
            <div class="form-group ">
                <label for="maxunits" class=" col-form-label">Maximum Units</label>
                <div class="" :class="{ 'has-danger' : errors.maxunits }">
                    <input type="text" class="form-control" id="maxunits"
                           v-model="maxunits"
                           name="maxunits"
                           :class="{ 'has-danger' : errors.maxunits }" autocomplete="off">
                    <div class="invalid-feedback" v-if="errors.maxunits">
                        <strong>{{ errors.maxunits.toString() }}</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" @click.prevent="saveProgramme" :disabled="saving">Save
                </button>

            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "index",
        data() {
            return {
                code: '',
                coursename: '',
                department: '',
                gradetype: '',
                cert: '',
                period: '',
                year: '',
                closed: '',
                errors: '',
                maxunits: '',
                saving: false
            }
        },
        methods: {
            saveProgramme() {
                this.saving = true;
                axios.post('programme', this.$data).then(resp => {
                    this.saving = false;
                    Bus.$emit('programme', resp.data);
                    Object.assign(this.$data, this.$options.data());
                }).catch(err => {
                    this.saving = false;
                    this.errors = err.response.data.errors;
                })
            }
        },
    }
</script>

<style scoped>

</style>