<template>
    <div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Reg. Number</th>
                    <th>Name</th>
                    <th>Border</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="student in students">
                    <td>{{ student.regnumber }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.border === 1 ? 'Boarder': 'Day' }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index",
        props: {
            students: {
                type: Object,
                default: {}
            },
        },
    }
</script>

<style scoped>

</style>