<template>
    <div>
        <form>
            <div class="row">
                <div class="col-md-4">
                    Section A
                </div>
                <div class="col-md-8">
                    <!--Label: Course , Attributes: course-->
                    <div class="">
                        <label for="course" class="col-form-label">Course </label>
                        <div class="" :class="{ 'has-danger' : errors.course }">
                            <select class="form-control" name="course" id="course" v-model="course">
                                <option v-for="pick in courses"
                                        :value="pick.id"
                                        :class="{ 'has-danger' : errors.course }">
                                    {{ pick.gradetype.toUpperCase() }} {{pick.coursename.toUpperCase()}}
                                </option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.course">
                                <strong>{{ errors.course.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    Section B
                </div>
                <div class="col-md-8">
                    <!--Label: Full Name, Attributes: fullname-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="fullname" class=" col-form-label">Full Name</label>
                            <div class="" :class="{ 'has-danger' : errors.fullname }">
                                <input type="text" class="form-control" id="fullname"
                                       v-model="fullname"
                                       name="fullname"
                                       :class="{ 'is-valid' : errors.fullname }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.fullname">
                                    <strong>{{ errors.fullname.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: Address, Attributes: Address-->
                        <div class="form-group">
                            <label for="Address" class=" col-form-label">Address</label>
                            <div class="" :class="{ 'has-danger' : errors.Address }">
                                <input type="text" class="form-control" id="Address"
                                       v-model="Address"
                                       name="Address"
                                       :class="{ 'has-danger' : errors.Address }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.Address">
                                    <strong>{{ errors.Address.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: Phone Number, Attributes: phone-->
                        <div class="form-group">
                            <label for="phone" class=" col-form-label">Phone Number</label>
                            <div class="" :class="{ 'has-danger' : errors.phone }">
                                <input type="text" class="form-control" id="phone"
                                       v-model="phone"
                                       name="phone"
                                       :class="{ 'has-danger' : errors.phone }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.phone">
                                    <strong>{{ errors.phone.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: Email, Attributes: email-->
                        <div class="form-group">
                            <label for="email" class=" col-form-label">Email</label>
                            <div class="" :class="{ 'has-danger' : errors.email }">
                                <input type="text" class="form-control" id="email"
                                       v-model="email"
                                       name="email"
                                       :class="{ 'has-danger' : errors.email }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.email">
                                    <strong>{{ errors.email.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: National ID, Attributes: nationalID-->
                        <div class="form-group ">
                            <label for="nationalID" class=" col-form-label">National ID</label>
                            <div class="" :class="{ 'has-danger' : errors.nationalID }">
                                <input type="text" class="form-control" id="nationalID"
                                       v-model="nationalID"
                                       name="nationalID"
                                       :class="{ 'has-danger' : errors.nationalID }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.nationalID">
                                    <strong>{{ errors.nationalID.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: Date of Birth, Attributes: dob-->
                        <div class="form-group ">
                            <label for="dob" class=" col-form-label">Date of Birth</label>
                            <div class="" :class="{ 'has-danger' : errors.dob }">
                                <input type="date" class="form-control" id="dob"
                                       v-model="dob"
                                       name="dob"
                                       :class="{ 'has-danger' : errors.dob }" autocomplete="off">
                                <div class="invalid-feedback" v-if="errors.dob">
                                    <strong>{{ errors.dob.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!--Label: Sex, Attributes: sex-->
                        <div class="form-group ">
                            <label for="sex" class=" col-form-label">Sex</label>
                            <div class="" :class="{ 'has-danger' : errors.sex }">
                                <select class="form-control" id="sex"
                                        v-model="sex"
                                        name="sex"
                                        :class="{ 'has-danger' : errors.sex }" autocomplete="off">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <div class="invalid-feedback" v-if="errors.sex">
                                    <strong>{{ errors.sex.toString() }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <!--Label: Button , Attributes: button-->
                    <div class="form-group row">
                        <label class=" col-form-label"> </label>
                        <div class="" :class="{ 'has-danger' : errors.button }">
                            <button class="theme-solid-button" @click.prevent="application" :disabled="saving">
                                Apply
                                <i :class="{'fa fa-spin fa-spinner':saving}"></i>
                            </button>
                            <div class="invalid-feedback" v-if="errors.button">
                                <strong>{{ errors.button.toString() }}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </form>
    </div>
</template>

<script>
    export default {
        name: "application",
        props: {
            courses: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                errors: '',
                course: '',
                fullname: '',
                Address: '',
                phone: '',
                email: '',
                nationalID: '',
                dob: '',
                done: '',
                sex: '',
                saving: false
            }
        },
        methods: {
            application() {
                this.saving = true;
                axios.post('/application', this.$data).then(resp => {
                    this.saving = false;
                    this.errors = '';
                    this.done = resp.data;
                    Object.assign(this.$data, this.$options.data());
                }).catch(err => {
                    this.errors = err.response.data.errors;
                    this.saving = false;
                })


            }
        },
    }
</script>

<style scoped>

</style>