<template>
    <div>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Subject Combination
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Combination Code</th>
                                    <th>Combination Name</th>
                                    <th>Default</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="combination in subjects">
                                    <td>{{ combination.code}}</td>
                                    <td>{{ combination.combinationname}}</td>
                                    <td>{{ combination.isdefault}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Add Subject Combination
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <!--Label: Combination code, Attributes: code-->
                            <div class="form-group row">
                                <label for="code" class="col-sm-2 col-form-label">Combination code</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.code }">
                                    <input type="text" class="form-control" id="code"
                                           v-model="code"
                                           name="code"
                                           :class="{ 'has-danger' : errors.code }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.code">
                                        <strong>{{ errors.code.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Combination Name, Attributes: combinationname-->
                            <div class="form-group row">
                                <label for="combinationname" class="col-sm-2 col-form-label">Combination Name</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.combinationname }">
                                    <input type="text" class="form-control" id="combinationname"
                                           v-model="combinationname"
                                           name="combinationname"
                                           :class="{ 'has-danger' : errors.combinationname }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.combinationname">
                                        <strong>{{ errors.combinationname.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Default, Attributes: isdefault-->
                            <div class="form-group row">
                                <label for="isdefault" class="col-sm-2 col-form-label">Default</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.isdefault }">
                                    <input type="text" class="form-control" id="isdefault"
                                           v-model="isdefault"
                                           name="isdefault"
                                           :class="{ 'has-danger' : errors.isdefault }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.isdefault">
                                        <strong>{{ errors.isdefault.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Save, Attributes: save-->
                            <div class="form-group row">
                                <label for="save" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.save }">
                                    <button class="btn btn-success" @click.prevent="saveCombination">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "subjectcombination",
        props: {
            subjects: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                errors: '',
                code: '',
                combinationname: '',
                isdefault: '',
            }
        },
        methods: {
            saveCombination() {
                axios.post('/subjectcombination', this.$data).then(resp => {
                    Object.assign(this.$data, this.$options.data())
                }).catch(err=>{
                    this.errors = err.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>