<template>
    <div>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Category
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Category Name</th>
                                    <th>Sort Position</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="category in subjectcategories">
                                    <td>{{ category.category}}</td>
                                    <td>{{ category.name}}</td>
                                    <td>{{ category.sortposition}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Add Category
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <form action="">
                            <!--Label: Category, Attributes: category-->
                            <div class="form-group row">
                                <label for="category" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.category }">
                                    <input type="text" class="form-control" id="category"
                                           v-model="category"
                                           name="category"
                                           :class="{ 'has-danger' : errors.category }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.category">
                                        <strong>{{ errors.category.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Category Name, Attributes: categoryname-->
                            <div class="form-group row">
                                <label for="categoryname" class="col-sm-2 col-form-label">Category Name</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.categoryname }">
                                    <input type="text" class="form-control" id="categoryname"
                                           v-model="categoryname"
                                           name="categoryname"
                                           :class="{ 'has-danger' : errors.categoryname }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.categoryname">
                                        <strong>{{ errors.categoryname.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Sort Position, Attributes: sortposition-->
                            <div class="form-group row">
                                <label for="sortposition" class="col-sm-2 col-form-label">Sort Position</label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.sortposition }">
                                    <input type="text" class="form-control" id="sortposition"
                                           v-model="sortposition"
                                           name="sortposition"
                                           :class="{ 'has-danger' : errors.sortposition }" autocomplete="off">
                                    <div class="invalid-feedback" v-if="errors.sortposition">
                                        <strong>{{ errors.sortposition.toString() }}</strong>
                                    </div>
                                </div>
                            </div>
                            <!--Label: Save, Attributes: save-->
                            <div class="form-group row">
                                <label for="save" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10" :class="{ 'has-danger' : errors.save }">

                                    <button class="btn btn-success" @click.prevent="saveCategory">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "subject",
        props: {
            subjectcategories: {
                type: Object,
                default: {}
            },
        },
        data() {
            return {
                errors: '',
                category: '',
                categoryname: '',
                sortposition: '',
            }
        },
        methods: {
            saveCategory() {
                axios.post('/subjectgroup',this.$data).then(resp=>{
                    Object.assign(this.$data, this.$options.data())
                }).catch(err=>{
                    this.errors = err.response.data.errors;
                })
            }
        },
    }
</script>

<style scoped>

</style>